<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rrtech.myhabits">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:name=".MyHabitsApp"
        android:icon="@mipmap/ic_launcher"
        android:label="MyHabitTracker"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyHabits"
        >

        <!-- Activité principale (lanceur) -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"> <!-- Obligatoire pour Android 12+ -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Autres activités -->
        <activity android:name=".ui.detail.HabitDetailActivity" android:exported="false" />
        <activity android:name=".ui.settings.SettingsActivity" android:exported="false" />
        <activity android:name=".ui.addedit.AddEditHabitActivity" android:exported="false" />
        <activity android:name=".ui.detail.HabitGroupsActivity" android:exported="false" />
        <activity android:name=".ui.calendar.HabitCalendarActivity"  android:exported="false" />

        <!-- Receiver notifications -->
        <receiver android:name=".notifications.ReminderReceiver" />
    </application>

</manifest>
